body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141426;
  color: #ECF0F1;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.navbar-offset {
  height: 4rem;
  width: 100%;
}

#navbar {
  background-color: #000000AA;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 4rem;
  display:inline-block;
}

#logo {
  display:inline-block;
  max-width: 2em;
}

.nav-link {
  color: #ECF0F1;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: 0.3s;
  vertical-align: top;
  height: 100%;
  line-height: 4rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.nav-link.active {
  background-color: #FFFFFF88;
}

.nav-link:hover {
  background-color: #FFFFFF88;
  transition: 0.3s;
}

.content {
  display: inline-block;
  text-align: center;
  width: 60vw;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10vh;
}

.add-container {
  position: fixed;
  z-index:2;
}

.add-container.bottom {
  text-align:center;
  bottom: 0px;
  width: 100%;
}

.add-container.right {
  right: 0px;
}

.vertical-add {
  width: 10vw;
  height: 82vh;
}

.horizontal-add {
  height: 10vh;
  width: 60vw;
}

.episode {
  overflow: hidden;
  margin:10px;
}

.episode-banner {
  background-color: #9E9E9E;
  text-align:left;
  z-index:1;
  position:relative;
}

.released-episode {
  box-shadow:inset 2px 2px white;
  cursor:pointer;
}

.episode-info {
  color: #000000;
  font-size: 1.5em;
  display:inline-block;
}

.episode-title {
  margin-left:20px
}

.episode-details {
  visibility:hidden;
  margin-top:-100%;
  transition: margin-top 1s, visibility 1s;
  z-index:0;
  position:relative;
}

.episode-details.revealed {
  visibility:visible;
  margin-top:-10px;
}

.expand-arrow {
  float:right;
  margin-right: 20px;
}

.health-force-banner {
  width: 100%;
  text-align: center;
  background-color:#C0C0C0;
}

.health-force-text {
  font-size: 2em;
  background-image: url('../img/health_force_logo.png');
  background-position: center;
  background-size: 6em;
  padding: 3em 0 3em 0;
}

.health-force-text p {
  color: white;
  mix-blend-mode: difference;
}

#health-force-product {
  position: relative;
  margin: auto;
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 5px solid #BC0F00;
  border-radius:50%;
  cursor:pointer;
  position:absolute;
  left:0px;
  top:0px;
  visibility: visible;
}

.circle.revealed {
  visibility: hidden;
}

.circle span {
  border: 5px solid #BC0F00;
  color: white;
  display:block;
  width: 300px;
  text-align: left;
  opacity: 0;
  margin-left: -100%;
  transition: margin-left 1s, opacity 1s, visibility 1s;
  visibility: hidden;
  z-index:1;
  position:relative;
  background-color:#141426;
  user-select: none;
}

.circle span.revealed {
  opacity: 1;
  margin-left: 0%;
  visibility: visible;
}

.disclaimers {
  font-size: 5pt;
  color: #202931;
}

.podcast-title {
  font-size: 3em;
  font-family: Abril Fatface;
  font-weight: bold;
}

.wolfbox-banner {
  height: 7rem;
  background-image:url('../img/wolfbox.png');
  background-size: auto 7rem;
}

